@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Source+Sans+Pro&display=swap');

body {
    margin: 0;
}

.navbar {
    padding: 0 3rem;
}

.navbar-brand {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    color: white;
}

.navbar-brand svg {
    margin-right: 1rem;
}

.Intro {
    font-family: 'Raleway', sans-serif;
}

h2 {
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

.card {
    max-width: 15rem !important;
    margin-bottom: 2rem;
    box-shadow: 1px 1px 5px gray;
}

.card-title, .card-text {
    margin-top: 0.5rem !important;
    font-weight: 600 !important; 
}

.row {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
}

.col-1 {
    flex: 1 !important;
}

.col-2 {
    flex: 2 !important;
    font-family: 'Source Sans Pro', sans-serif;
}

.block {
    border: 1px solid gainsboro;
    border-radius: 5px;
    padding: 1.5rem;
    margin: 0.5rem;
}

.row.center {
    align-items: center;
}

.add, .remove {
    margin-right: 0.5rem;
}

.cart {
    height: fit-content;
}

.cart-item-name {
    font-weight: 600;
}