.sec2-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
}

.sec2-item p {
    font-size: 20px;
    font-weight: 300;
}

.sec2-item-title {
    margin-bottom: 1rem;
}

.sec2-item-title p {
    font-weight: 700 !important;
}

.sec2-item {
    margin: 2.5rem 0;
}

.sec2-item .contact-sub {
    width: 4rem;
}

.adr {
    display: flex;
}