<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Portfolio</title>
        <meta name = "viewport" content="width=device-width, user-scalable=nom initial-scale=1.0">
        <link rel="stylesheet" href="/stylesheets/style.css">
        <script src="https://kit.fontawesome.com/2dfd9826bf.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    </head>
    <body>
        <!--navbar-->
        <nav class="navbar">
            <div class="max">
                <ul class="menu">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Skill</a></li>
                    <li><a href="#">Project</a></li>
                </ul>
                <div class="menu-btn">
                    <i class="fas fa-bars"></i>
                </div>
            </div>
        </nav>

        <!--Home-->
        <section class="home" id="home">
            <div class="max">
                <div class="home-content">
                    <div class="imgbox"><img src="/images/profileImg.jpg" alt="" class="profile"></div>
                    <div class="name">Ko Seung Yeon</div>
                    <div class="job">Developer</div>
                </div>
            </div>
        </section>

        <!--About-->
        <section class="about" id="about">
            <div class="max">
                <div class="about1">
                    <div class="title">About me</div>
                    <hr class="title-line" size="5px">
    
                    <div class="about-content">
                        <div class="intro">
                            <div class="intro">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
                        </div>
    
                        <div class="contact-channel">                    
                            <div class="contact">E-mail: syko1234@naver.com</div>
                            <div class="channel1">Blog: https://kosy.tistory.com/</div>
                            <div class="channel2">Github: https://github.com/kosy0907</div>
                        </div>
                    </div>
                </div>

                <div class="about2">
                    <div class="skill-pre">
                        <div class="card">
                            <i class='fab fa-html5' style='font-size:50px; color:rgb(88, 150, 175)'></i>
                            <div class="text" id="F-text">Front-end</div>
                            <p>HTML</p>
                            <p>CSS</p>
                            <p>JS</p>
                            <p>Vue.js</p>
                            <p>React.js</p>
                        </div>
                        <div class="card">
                            <i class='fas fa-database' style='font-size:50px; color:rgb(175, 173, 88)'></i>
                            <div class="text" id="B-text">Back-end</div>
                            <p>JS</p>
                            <p>Node.js</p>
                        </div>
                        <div class="card">
                            <i class='fas fa-mobile-alt' style='font-size:50px; color:rgb(98, 175, 88)'></i>
                            <div class="text" id="M-text">Mobile</div>
                            <p>Android Studio</p>
                            <p>React Native</p>
                        </div>
                    </div> 
                </div>
                  
            </div>

        </section>

        <section class="skill" id="skill">
            <div class="max">
                <div class="skill-card">
                    <div class="front"></div>
                    <div class="back"></div>
                    <div class="mobile"></div>
                </div>
            </div>
        </section>

        <script src="/javascripts/index.js"></script>
    </body>
</html>
