<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="author" content="kosy">
        <meta name="description" content="웹 표준을 준수한 사이트 예제">
        <meta name="keywords" content="웹표준, 웹접근성">
        <title>layout9</title>
        <link rel="stylesheet" href="./css/layout8.css">
        <link rel="stylesheet" href="./css/reset.css">
    </head>
    <body>
        <div id="wrap">
            <!--header-->
            <div id="header" role="heading">
                <div class="container">header</div>
            </div>
            <!--content-->
            <div id="contents">
                <!--content navigation-->
                <div id="cont_nav" role="navigation">
                    <div class="container">cont_nav</div>
                </div>
                <!--content title-->
                <div id="cont_title" role="article">
                    <div class="container">cont_title</div>
                </div>
                <!--content banner-->
                <div id="cont_ban" role="banner">
                    <div class="container">cont_ban</div>
                </div>
                <!--content content-->
                <div id="cont_content" role="article">
                    <div class="container">cont_content</div>
                </div>
            </div>
            <!--footer-->
            <div id="footer">
                <div class="container">footer</div>
            </div>
        </div>
    </body>
</html>