<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="author" content="kosy">
        <meta name="description" content="웹 표준을 준수한 사이트 예제">
        <meta name="keywords" content="웹표준, 웹접근성">
        <title>layout9</title>
        <link rel="stylesheet" href="./css/layout8.css">
        <link rel="stylesheet" href="./css/reset.css">
    </head>
    <body>
        <div id="wrap">
            <div id="header" role="heading">
                <div class="container">header</div>
            </div>
        </div>
    </body>
</html>