.App {
  text-align: center;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 5px;
  width: 50%;
  margin: auto;
  padding: 20px
}

.form input {
  margin-bottom: 20px;
  width: 30%;
  height: 30px;
  font-size: 15px;
}

.form p {
  margin: 0;
}

.card {
  border: 1px solid black;
  border-radius: 5px;
  background-color: floralwhite;
  width: 30%;
  height: 100px;
  margin: 20px;
  padding: 10px;
}