body {
  background-color: rgb(52, 50, 54) !important;
}

.search-box{
  width: fit-content;
  height: fit-content;
  position: relative;
}
.input-search{
  height: 50px;
  width: 50px;
  border-style: none;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 25px;
  transition: all .5s ease-in-out;
  background-color: #4f3c5a;
  padding-right: 40px;
  color:#fff;
}
.input-search::placeholder{
  color:rgba(255,255,255,.5);
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
}
.btn-search{
  width: 50px;
  height: 50px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  color:#ffffff ;
  background-color:transparent;
  pointer-events: painted;  
}
.btn-search:focus ~ .input-search{
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom:1px solid rgba(255,255,255,.5);
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}
.input-search:focus{
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom:1px solid rgba(255,255,255,.5);
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

.content {
  width: 80%;
  margin: 5rem auto;
}

.content_title {
  text-align: center;
  font-size: 30px;
  font-weight: 900;
  color: #fff;
}

.movie_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movieData {
  width: 300px;
  margin: 3rem 1rem;
  border-radius: 0.35rem;
  background-color: gray;
  box-shadow: 3px 3px 5px rgba(0,0,0,0.5);
}

.movie_title, .movie_rating, .detailBtn {
  color: white;
}

.movie_img {
  border-radius: 0.3rem;
}

.movie_content {  
  width: 100%;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
}

.movie_title {
  margin-bottom: 1rem;
}

/* Detail page */

.detail {
  margin: 5rem auto 0;
}

.detail_header {
  width: 80%;
  color: #fff;
  margin: 1rem auto;
  display: flex;
}

.detail_header h3 {
  font-weight: 900;
}

.header_info {
  padding: 5rem;
}

.header_info ul, .header_overview {
  margin-top: 1.5rem;
}

.detail_content {
  background-color: #fff;
  width: 100%;
  margin: 0;
  padding: 1rem;
}

.detail_wrap {
  width: 80%;
  margin: 2rem auto;
}

.accordion, .table {
  margin-top: 5rem;
}

.accordion-body {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.figure {
  text-align: center;
  width: 300px;
}