div {
    width: 200px;
    height: 200px;
    margin: 5%;
}

.animation1 {
    background-color: aquamarine;
    animation-name: moving;
    animation-duration: 3s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

.animation2 {
    background-color: blueviolet;
    -webkit-transition: background-color 2s, -webkit-transform 1s;
    transition: background-color 2s, transform 1s;
}

.animation2:hover {
    background-color: #34f304;
    -webkit-transform:rotate(180deg);
    transform:rotate(180deg);
}

.animation3 {
    background-color: indianred;
    animation-name: fadeout;
    animation-duration: 3s;
    animation-iteration-count: 3;
    animation-direction: alternate;
}

@keyframes moving {
    from { margin-left: 5%; }
    to { margin-left: 20%;}
}

@keyframes fadeout {
    from { opacity: 1; margin-left: 5%; }
    to { opacity: 0; margin-left: 20%;}
}