@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;700&display=swap');
.App {
  font-family: 'Rajdhani';
}

html {
  height: 100%;
}

body {
  margin: 0;
  overflow-y: hidden;
  height: 100%;

  color: #1a202c;
  transition: color 0.2s ease-in;
}

.divider {
  width: 100%;
  height: 5px;
  /* background-color: gray; */
  visibility: hidden;
}

.wrap {
  width: 60%;
  margin: auto;
}

.outer {
  height: 100vh;
  overflow-y: auto;
}

.outer::-webkit-scrollbar {
  display: none;
}

.sec1, .sec2, .sec3, .sec4 {
  width: 100%;
  height: 100vh;
  box-sizing:border-box;
  padding-top: 15rem;
}

.sec2, .sec3, .sec4 {
  padding-top: 10rem;
}

.sec2-title p, .sec3-title p, .sec4-title p {
  width: 20%;
  font-size: 48px;
  font-weight: 500;
}

.sec2-title, .sec3-title, .sec4-title {
  display: flex;
  align-items: center;
}

.sec2 hr, .sec3 hr, .sec4 hr {
  margin: 0;
  width: 80%;
  padding: 0;
}